.dark-theme{
    ion-content {
        background-color: #222;
        color: #fff;
    }

    .toolbar-title {
        color: #fff;
    }

    .toolbar-background {
        border-color: #ff0fff;
        background-color: #222;
    }

    ion-list{
        background-color: #222;
        color: #fff;
    }

    button{
        background-color: #2b2b2b;
        color: #fff;
    }

    ion-item{
        background-color: #2b2b2b;
        color: #fff;
    }

    .tabs .tabbar {
        background-color: #2b2b2b;
    }
}